
/* label color */
.input-field label {
    color: #aaa;
}
/* label focus color */
.input-field input,
.input-field textarea {
    color: #f5f5f5;
}
.input-field {
    margin: 0;
}
form .col {
    margin: 10px 0;
}
#section-about {
    font-size: 1.3em;
    padding-top: 30px;
}

#section-he-arc {
    padding: 50px 0 30px 0;
}
#logo-he-arc {
    width: 250px;
    margin: 0 auto;
    display: block;
}
